<h3><%= @question.id %>. <%= @question.wording %></h3>

<% @user_response = @question.user_responses.new %>

<%= form_for [@question, @user_response] do |f| %>
	<% @question.question_answers.each do |answer| %>
	  <p><%= f.radio_button :response, answer.value %>
	  <%= f.label "answer_for_question_#{@question.id}", answer.wording %></p>
	<% end %>
	<%= f.submit "Next" %>
<% end %>
