<div class ="quiz_container">

  <div class="result_container">

    <div class="result_header">FIND YOUR PATH ...</div>
    <a class="quiz_link" href="/questions/1"><div class="result_type">QUIZ</div></a>
    <div class="result_description result_description_quiz">Find the tech career path best suited for you by taking this short quiz.</div>

  </div>

  <ul>
    <li><%= link_to "User Experience", "/results/2"%></li>
    <li><%= link_to "Development", "/results/3"%></li>
    <li><%= link_to "Visual Design", "/results/4"%></li>
    <li><%= link_to "Database Security", "/results/5"%></li>
    <li><%= link_to "Management", "/results/6"%></li>
  </ul>
</div>
