<div class ="quiz_container">

  <div class="result_container">

    <div class="result_header">FIND YOUR PATH ...</div>
    <a class="quiz_link" href="/questions/1"><div class="result_type">QUIZ</div></a>
    <div class="result_description">Find the Technology area perfect for you by taking this quiz</div>

  </div>

  <h2>THE QUIZ!</h2>

  <%= link_to "SIGN UP", "/users/sign_up" %>

  <ol>
    <li><%= link_to "User Experience", "/results/2"%></li>
    <li><%= link_to "Development", "/results/3"%></li>
    <li><%= link_to "Visual Design", "/results/4"%></li>
    <li><%= link_to "Database Security", "/results/5"%></li>
    <li><%= link_to "Management", "/results/6"%></li>
  </ol>
</div>
