<h2>THE QUIZ!</h2>
<%= @most_frequent_answer %>
<ol>
  <li><%= link_to "Front End Designer", "/results/2"%></li>
  <li><%= link_to "Back End Designer", "/results/3"%></li>
  <li><%= link_to "Project Manager", "/results/4"%></li>
  <li><%= link_to "Security Manager", "/results/5"%></li>
  <li><%= link_to "Visual", "/results/6"%></li>
</ol>
