<h2>THE QUIZ!</h2>
<ol>
  <li><%= link_to "CAREER #1", "/results/2"%></li>
  <li><%= link_to "CAREER #1", "/results/3"%></li>
  <li><%= link_to "CAREER #1", "/results/4"%></li>
  <li><%= link_to "CAREER #1", "/results/5"%></li>
  <li><%= link_to "CAREER #1", "/results/6"%></li>
</ol>
