<div class="container">
	<div class="result_container">

    <div class="result_header">HEAR OTHER PEOPLES STORIES IN ...</div>
    <div class="result_type">PROFILES</div>
    <div class="result_description">If you have an interest in technology but don't know if you can gain the skills or the knowledge or time needed to get you ready to enter the industry, don't worry. There are many "techys" that were once in your shoes and managed to not only gain the skills the needed, but also so to make use of the skills they already had. Here are there stories.</div>

  </div>
<h2>They made the transtion, You can to!</h2>

<div class="profile_container">
	<% @profiles.each do |profile| %>
					<div class="profile_individual">
						<div class="profile_img"><%= link_to image_tag(profile.img_url, alt: "Profile Image"), profile_path(profile)%></div>
						<p>Name:<a href="/#<%= profile.name %>"> <%= profile.name %></a></p>
						<p class="former_position">Former Position: <%= profile.former_position %></p>
						<p class="current_position">Current Position: <%= profile.current_position %></p>
						<p class="blurb">"<%= profile.blurb %>"</p>
					</div>
			<% end %>
	</div>
</div>
