<div class= "profile_menu">
	<% @profiles.each do |profile| %>
		<a href="<%= profile.id %>"><%= image_tag profile.img_url, alt: "Profile Image", class: "img" %></a>
		</br>
	<% end %>
</div>


<div class="profile_show_container">
	<div class="second_result_container">
		<div class="result_container">

	    <div class="result_header">HEAR OTHER PEOPLES STORIES IN ...</div>
	    <div class="result_type">PROFILES</div>
	    <div class="result_description">If you have an interest in technology but don't know if you can gain the skills or the knowledge or time needed to get you ready to enter the industry, don't worry. There are many "techys" that were once in your shoes and managed to not only gain the skills the needed, but also so to make use of the skills they already had. Here are there stories.</div>

	  </div>
</div>

	<div class = "sidebar">
		<%= image_tag @profile.img_url, alt: "Profile Image", class: "img" %>
		<h2>"<%= @profile.blurb %>"</h2>
	</div>
	<div class="profile">
      <h1>Name: <%= @profile.name %></h1>
      <h3><span class="position1">Former Position: </span><%= @profile.former_position %> <----------------> <span class="position2">Current Position: </span> <%= @profile.current_position %></h3>
       <p class="blurb">"<%= @profile.blurb %>"</p>
        <p class="body"><%= @profile.body %></p>
				<a href= "/quiz"><h1>Find Your Path</h1></a>
    </div>
	</div>
<<<<<<< HEAD
=======
		<div class="profile">
			<h1><% profile.name %></h1>
			<h3><span class="position1">Former Position: </span><%= profile.former_position %> <----------------> <span class="position2">Current Position: </span> <%= profile.current_position %></h3>
			<p class="blurb">"<%= profile.blurb %>"</p>
			<p class="body"><%= profile.body %></p>
			<h2>Join <%= profile.name %> on the tech path</h2>
			<h2><a href="/quiz">Take the Quiz</a></h2>
		</div>
	<% end %>
>>>>>>> 4423d6629899a11cb00f781c1af3b8d3c68ea2a2

</div>
