<div class="full_profile">
	<span class="img"><%= image_tag @profile.img_url %></span>
	<p class="name"><%= @profile.name %></p>
	<p class="former_position"><%= @profile.former_position %></p>
	<p class="current_position"><%= @profile.current_position %></p>
	<p class="blurb"><%= @profile.blurb %></p>
	<p class="body"><%= @profile.body %></p>
</div>
