<div class= "show_profile_menu">
	<% @profiles.each do |profile| %>
		<a href="<%= profile.id %>"><%= image_tag profile.img_url, alt: "Profile Image", class: "img" %></a>
	<% end %>
</div>

<div class="show_profile_container">
	<div class = "show_profile_img">
		<%= image_tag @profile.img_url, alt: "Profile Image", class: "img" %>
		<div class="blurb"><%= @profile.blurb %></div>
	</div>

	<div class="show_profile_text">
	  <h2 class="profile_title"><%= @profile.name.upcase %></h2>
		<p><span class="profile_position">Former Position:</span> <%= @profile.former_position %></p>
		<p><span class="profile_position">Current Position:</span> <%= @profile.current_position %></p>
	  <p class="body"><%= @profile.body %></p>
		<a class="profile_to_quiz" href= "/questions/1"><h2>FIND YOUR PATH</h2></a>
	</div>
</div>
