<div class="profile">
	<%= image_tag @profile.img_url, alt: "Profile Image", class: "img" %>
	<p class="name">Name: <%= @profile.name %></p>
	<p class="former_position">Former Position: <%= @profile.former_position %></p>
	<p class="current_position">Current Position: <%= @profile.current_position %></p>
	<p class="blurb">"<%= @profile.blurb %>"</p>
	<p class="body"><%= @profile.body %></p>
</div>