<div class = "subheader">

  <h2>You should consider exploring:</h2>
  <h1><%= @result.category %></h1>
  <p><%= @result.description %></p>

</div>


<div class="container">

  <h2>STATS</h2>
  <div class="stats_container">
    <p><span class="stats_title">Possible career paths:</span> <%= @result.career_titles%><p>
  </div>

  <% if current_user || @result.id == 1 %>

    <h2>ARTICLES</h2>
    <div class="article_container">
      <% 3.times do %>
        <div class="article_individual">
          <%= image_tag @result.article_img_url, alt: "article image", class: "article_img" %>
          <p class="article_title"><%= @result.article_title %></p>
          <p><%= @result.article_source %></p>
        </div>
      <% end %>
    </div>

    <h2>MEETUPS</h2>
    <div class="meetup_container">
      <% @api_info.each do |meetup| %>
        <div class="meetup_individual">
          <div class="meetup_img_container"><%= image_tag meetup[:photo_url], alt: "meetup logo", class: "meetup_img" %></div>
          <p class="meetup_title"><%= link_to meetup[:name], meetup[:group_url] %></p>
        </div>
      <% end %>
    </div>

    <h2>COMMENTS</h2>
    <div class="comments_container"

      <%= render "form" %>

      <% @comments.each do |comment| %>
      <div class="comments_individual">
        <p class="comments_username"><%= current_user.user_name %><p>
        <p class="comments_body"><%= comment.body %></p>
        <div class="comments_edit_delete">
          <%= link_to 'Edit', edit_result_comment_path( @result, comment ) %>
          <%= link_to 'Delete', result_comment_path( @result, comment ), method: :delete %>
        </div>
      </div>
      <% end %>
    </div>
</div>

<% else %>

  <p>Click here to take our quiz and get tech career resources tailored to you!</p>

<% end %>
