<h2>Your Tech Path is <%= @result.category %></h2>
<%= @result.description %>

<hr>
<h3><%= @result.category %> Statistics</h3>

<hr>
<% if current_user || @result.id == 1 %>
<h3><%= @result.category %> Articles</h3>

<hr>
<h3><%= @result.category %> Meetups</h3>

<hr>

<%= render "form" %>

<% @comments.each do |comment| %>

  <p><span>Username: Joe</span>
  <%= comment.body %>
  <%= link_to 'Edit', edit_result_comment_path( @result, comment) %>
  <%= link_to 'Delete', result_comment_path( @result, comment), method: :delete %></p>

<% end %>

<% else %>
<p>Create an account to see results tailored specifically to you, and more resources in your local area!</p>


<% end %>