<h2>Your Tech Path is <%= @result.category %></h2>
<%= @result.description %>

<hr>
<h3><%= @result.category %> Statistics</h3>

<hr>
<h3><%= @result.category %> Articles</h3>

<hr>
<h3><%= @result.category %> Meetups</h3>

<hr>

<% @comments.each do |comment| %>

<% end %>
