<div class="container">

  <div class="result_container">

    <div class="result_header">YOU SHOULD CONSIDER EXPLORING</div>
    <div class="result_type"><%= @result.category %></div>
    <div class="result_description"><%= @result.description %></div>

  </div>

  <h2>STATS</h2>
  <div class="stats_container">
    <p><span class="stats_title">Possible career paths:</span> <%= @result.career_titles%><p>
  </div>

  <% if current_user || @result.id == 1 %>

    <h2>ARTICLES</h2>
    <div class="article_container">
      <% 3.times do %>
        <div class="article_individual">
          <%= image_tag @result.article_img_url, alt: "article image", class: "article_img" %>
          <p class="article_title"><%= @result.article_title %></p>
          <p><%= @result.article_source %></p>
        </div>
      <% end %>
    </div>

    <h2>MEETUPS</h2>
    <div class="meetup_container">
      <% @api_info.each do |meetup| %>
        <div class="meetup_individual">
          <div class="meetup_img_container"><%= image_tag meetup[:photo_url], alt: "meetup logo", class: "meetup_img" %></div>
          <p class="meetup_title"><%= link_to meetup[:name], meetup[:group_url] %></p>
        </div>
      <% end %>
    </div>

    <h2>COMMENTS</h2>
    <div class="comments_container">
      <% if current_user %>
        <%= render "form" %>

        <% @comments.each do |comment| %>
        <div class="comments_individual">
          <p class="comments_username">
            <%= comment.name %>
          <p>
          <p class="comments_body"><%= comment.body %></p>
          <div class="comments_edit_delete">
            <%= link_to 'Edit', edit_result_comment_path( @result, comment ) %>
            <%= link_to 'Delete', result_comment_path( @result, comment ), method: :delete %>
          </div>
        </div>
        <% end %>
      <% else %>
        <p>You must be logged in to comment.</p>
        <%= link_to "Log in here.", user_session_path %>
      <% end %>
    </div>
</div>

<% else %>

  <%= link_to "Click here to sign up and get tech career resources tailored to you!", new_user_registration_path %>

<% end %>
