<h2>Your Tech Path is <%= @result.category %></h2>
<%= @result.description %>

<hr>
<h3>Statistics</h3>

<hr>

<% if current_user || @result.id == 1 %>
  <h3>Articles</h3>
  
  <% 3.times do %>
    <%= image_tag @result.article_img_url, alt: "article image", class: "article_img" %>
    <p><%= @result.article_title %></p>
    <p>(<%= @result.article_source %>)</p>
  <% end %>

  <hr>
  <h3>Meetups</h3>

    <% @api_info.each do |meetup| %>
      <div>
        <%= image_tag meetup[:photo_url], alt: "meetup logo", class: "meetup_img" %>
        <p><%= link_to meetup[:name], meetup[:group_url] %></p>
      </div>
    <% end %>

  <hr>

  <%= render "form" %>

  <% @comments.each do |comment| %>

    <p><span>Username: Joe</span>
    <%= comment.body %>
    <%= link_to 'Edit', edit_result_comment_path( @result, comment ) %>
    <%= link_to 'Delete', result_comment_path( @result, comment ), method: :delete %></p>

  <% end %>

<% else %>

  <p>Click here to take our quiz and get tech career resources tailored to you!</p>

<% end %>
