<!DOCTYPE html>
<html>
<head>
  <title>TechLeap</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
</head>
<body>
  <header>
    <nav>
      <div class="logo">TechLeap</div>
      <ul>
        <li><a href = "/profiles">Profiles</a></li>
        <li><a href = "/quiz">Quiz</a></li>
        <li><a href = "/results/1">Resources</a></li>
        <% if current_user %>
          <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><a href = "/users/sign_in">Login</a></li>
        <% end %>
      </ul>
    </nav>
  </header>

<%= yield %>

</body>
</html>
